name: Build

on:
  push:
    branches: [ main, feature/* ]
  pull_request:
    branches: [ main ]

jobs:
  build_dotnet:
    name: Build .NET
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'
          dotnet-quality: 'preview'

      - name: Restore dependencies
        run: dotnet restore OhMyLinkki.sln

      - name: Build
        run: dotnet build OhMyLinkki.sln --no-restore --configuration Release

  build_ui:
    name: Build UI
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        working-directory: src/ui
        run: bun install --frozen-lockfile

      - name: Lint
        working-directory: src/ui
        run: bun run lint

      - name: Build
        working-directory: src/ui
        run: bun run build